<div class="w3-container w3-center container">
    <div class="w3-row w3-margin-top w3-margin-bot">
        <img src="assets/logo-beli.png" width="117" height="67" alt="">
    </div>
    <div class="separator w3-margin-top w3-margin-bot"></div>
    <div class="w3-margin-top w3-margin-bot">
        <a class="w3-text-white w3-padding" routerLink='/dashboard' [queryParams]='{mode: "logged"}'>
            <i class="fa fa-chalkboard-teacher"></i>
            <span class="w3-margin-left">BOARD</span>
        </a>
    </div>
    <div class="w3-margin-top w3-margin-bot">
        <a class="w3-text-white w3-padding" routerLink='/statistics' [queryParams]='{mode: "logged"}'>
            <i class="fa fa-chart-bar"></i>
            <span class="w3-margin-left">STATISTICS</span>
        </a>
    </div>
    <div class="w3-margin-top w3-margin-bot">
        <a class="w3-text-white w3-padding" href="/"(click)='logOut()'>
            <i class="fa fa-sign-out-alt"></i>
            <span class="span w3-margin-left">LOG OUT</span>
        </a>
    </div>
</div>
