<div class="center-vertical background">
    <div class="w3-container w3-center" style="margin: auto;">
      <img src="assets/logo.png" width="500" height="360" alt="" class="w3-margin-top w3-margin-bot">
      <hr>
      <div class="w3-container w3-margin-top w3-margin-bot">
        <button class="w3-button btn-medium w3-round w3-xlarge w3-light-gray w3-text-gray w3-margin-right shadow" (click)='login()'>
          <i class="fa fa-sign-in-alt"></i> Login</button>
        <button class="w3-button btn-medium w3-round w3-xlarge w3-light-gray w3-text-gray shadow" (click)='register()'>
          <i class="fa fa-user-alt"></i> Register</button>
      </div>
    </div>
</div>
