<div class="w3-container w3-center container">
    <div class="w3-row w3-margin-top w3-margin-bot">
        <img src="assets/logo-beli.png" width="117" height="67" alt="">
    </div>
    <div class="separator w3-margin-top w3-margin-bot"></div>
    <div class="w3-margin-top w3-margin-bot">
        <a class="w3-text-white w3-padding" routerLink="/">
            <i class="fa fa-home"></i>
            <span class="w3-margin-left">HOME</span>
        </a>
    </div>
    <div class="w3-margin-top w3-margin-bot">
        <a class="w3-text-white w3-padding" routerLink="/about">
            <i class="fa fa-info"></i>
            <span class="w3-margin-left">ABOUT</span>
        </a>
    </div>
    <div class="w3-margin-top w3-margin-bot">
        <a class="w3-text-white w3-padding" routerLink="/contact">
            <i class="fa fa-users"></i>
            <span class="w3-margin-left">CONTACT</span>
        </a>
    </div>
</div>
